<div class="container">
  <img class="event-image" [src]="event?.imageUrl" [alt]="event?.name" />

  <div class="row">
    <div class="col-md-11">
      <h2>{{ event?.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{ event?.date | date: "y-M-d" }}</div>
      <div><strong>Time:</strong> {{ event?.time }}</div>
      <div><strong>Price:</strong> {{ event?.price | currency: "USD" }}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{ event?.location?.address }}<br />
        {{ event?.location?.city }}, {{ event?.location?.country }}
      </address>
    </div>
  </div>
</div>

<button class="btn btn-danger" (click)="Back()">Go BACK</button>

<hr />

<div class="row">
  <div class="col-md-2">
    <span style="font-size: 2em">Sessions</span>
  </div>

  <div class="col-md-4">
    <div class="btn-group btn-group-sm" role="group">
      <button
        [class.active]="filterBy == 'all'"
        (click)="filterBy = 'all'"
        class="btn btn-default"
      >
        All
      </button>
      <button
        [class.active]="filterBy == 'beginner'"
        (click)="filterBy = 'beginner'"
        class="btn btn-default"
      >
        Benginner
      </button>
      <button
        [class.active]="filterBy == 'intermediate'"
        (click)="filterBy = 'intermediate'"
        class="btn btn-default"
      >
        Intermediate
      </button>
      <button
        [class.active]="filterBy == 'advanced'"
        (click)="filterBy = 'advanced'"
        class="btn btn-default"
      >
        Advanced
      </button>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group btn-group-sm" role="group">
      <button
        [class.active]="sortBy == 'vote'"
        (click)="sortBy = 'vote'"
        class="btn btn-default"
      >
        By Votes
      </button>
      <button
        [class.active]="sortBy == 'name'"
        (click)="sortBy = 'name'"
        class="btn btn-default"
      >
        By Name
      </button>
    </div>
  </div>

  <div class="col-md-3">
    <a (click)="addNewSession()">Add new Session</a>
  </div>
</div>

<app-session-list
  [sortBy]="sortBy"
  [filterBy]="filterBy"
  *ngIf="!IsAdd"
  [sessions]="event?.sessions"
></app-session-list>

<app-create-session
  *ngIf="IsAdd"
  (SaveSessionEvent)="SaveSession($event)"
  (CancelSessionEvent)="CancelSessionEvent()"
  >Add New Session</app-create-session
>
