<div>
  <h1>Upcoming Events</h1>
  <hr />
  <div class="row">
    <div *ngFor="let evnt of AllEvent" class="col-md-6">
      <app-event-thumbnail (click)="handleClick(evnt.name)" [event]="evnt">
      </app-event-thumbnail>
    </div>
  </div>
</div>
