<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{ event.name | uppercase }}</h2>
  <div>Date: {{ event.date | date }}</div>
  <div [ngClass]="letsStyle()" [ngSwitch]="event.time">
    Time: {{ event.time }}
    <span *ngSwitchCase="'8:00 am'">(Early Open)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Open)</span>
    <span *ngSwitchDefault>(Normal Open)</span>
  </div>
  <div>Price: {{ event.price }}</div>
  <div>
    <span> Location: {{ event?.location?.address }},</span>
    <span>&nbsp;</span>
    <span>{{ event?.location?.city }}, {{ event?.location?.country }}</span>
  </div>
  <button class="btn btn-success" (click)="handleClick()">Click</button>
</div>
