<h1>Login</h1>
<hr />
<div class="col-md-4">
  <form
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm.value)"
    autocomplete="off"
  >
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em
        *ngIf="
          loginForm.controls.userName?.invalid &&
          loginForm.controls.userName?.touched
        "
        >required</em
      >
      <input
        id="userName"
        [(ngModel)]="userName"
        name="userName"
        type="text"
        class="form-control"
        placeholder="User Name..."
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em
        *ngIf="
          loginForm.controls.password?.invalid &&
          loginForm.controls.password?.touched
        "
        >required</em
      >
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        class="form-control"
        placeholder="Password..."
        required
      />
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary"
    >
      Login
    </button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>
