<div class="col-md-12">
  <h3>Create Session</h3>
</div>
<div class="col-md-6">
  <form
    [formGroup]="sessionFormGroup"
    (ngSubmit)="SaveSession(sessionFormGroup.value)"
    autocomplete="off"
  >
    <div class="form-group">
      <label for="sessionName">Session Name:</label>
      <em *ngIf="name.invalid && name.touched">required</em>
      <input
        formControlName="name"
        id="sessionName"
        type="text"
        class="form-control"
        placeholder="session name..."
      />
    </div>
    <div class="form-group">
      <label for="eventDate">Presenter:</label>
      <em *ngIf="presenter.invalid && presenter.touched">required</em>
      <input
        formControlName="presenter"
        id="presenter"
        type="text"
        class="form-control"
        placeholder="presenter..."
      />
    </div>
    <div class="form-group">
      <label for="duration">Duration:</label>
      <em *ngIf="duration.invalid && duration.touched">required</em>
      <select formControlName="duration" class="form-control">
        <option value="">select duration...</option>
        <option value="1">Half Hour</option>
        <option value="2">1 Hour</option>
        <option value="3">Half Day</option>
        <option value="4">Full Day</option>
      </select>
    </div>
    <div class="form-group">
      <label for="level">Level:</label>
      <em *ngIf="level.invalid && level.touched">required</em>
      <select formControlName="level" class="form-control">
        <option value="">select level...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group">
      <label for="abstract">Abstract:</label>
      <em
        *ngIf="
          abstract.invalid && abstract.touched && abstract.errors?.required
        "
        >required</em
      >
      <em
        *ngIf="
          abstract.invalid && abstract.touched && abstract.errors?.minlength
        "
        >min 10 charecter is required</em
      >
      <em
        *ngIf="
          abstract.invalid &&
          abstract.touched &&
          abstract.errors?.restrictedWords
        "
        >restricted word : {{ abstract.errors?.restrictedWords }}</em
      >
      {{ abstract.errors?.restrictedWords }}
      <textarea
        formControlName="abstract"
        id="abstract"
        rows="3"
        class="form-control"
        placeholder="abstract..."
      ></textarea>
    </div>
    <button
      type="submit"
      [disabled]="sessionFormGroup.invalid"
      class="btn btn-primary"
    >
      Save
    </button>
    <button type="button" (click)="cancelAddSession()" class="btn btn-default">
      Cancel
    </button>
  </form>
</div>
