<div>
  <h1>Edit Your Profile</h1>
  <hr />
  <div class="col-md-4">
    <form
      #updateProfileForm="ngForm"
      [formGroup]="profileForm"
      (ngSubmit)="updateProfile(updateProfileForm.value)"
      autocomplete="off"
      novalidate
    >
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <em
          *ngIf="!isValidFname() && isRequired(profileForm.controls.firstName)"
          >required</em
        >
        <em
          *ngIf="
            !isValidFname() && isValidPattern(profileForm.controls.firstName)
          "
          >name must be string</em
        >
        <input
          formControlName="firstName"
          id="firstName"
          type="text"
          class="form-control"
          placeholder="First Name..."
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!isValidLname()">required</em>
        <input
          formControlName="lastName"
          id="lastName"
          type="text"
          class="form-control"
          placeholder="Last Name..."
        />
      </div>

      <button type="submit" [disabled]="!isValid()" class="btn btn-primary">
        Save
      </button>
      <button type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>
